.projectBody{
    height: 85vh;
    width: 75vw;
    padding: 15px;
    margin: 15px;
    background-color: #4F4557;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: transform .2s;

}

.projectBody:hover{
  /* animation: glow 3s infinite; */
  transform: scale(1.02);
  box-shadow: 10px 10px 24px 2px rgba(0,0,0,0.75);

}

.projects a{
  text-decoration: none;
}

.projectBody h1{
    align-self: flex-start;
}

.projectBody marquee{
  align-self: flex-start;
  display: inline;
  max-width: 50%;
  font-size: 1.2rem;
}

.projects{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: trans 0.80s;
    margin: auto;
}

.prj1,.prj2,.prj3,.prj4 {
    height: 250px;
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    transition: transform .5s;
    .button-container{
      visibility: hidden;
  }
  }




.prj1:hover,.prj2:hover,.prj3:hover,.prj4:hover{
    transform: scale(1.02);
    width: 390px;
    height: 280px;

    .card-content{
      background-color: #4f4557;
      border-radius: 5px;
    }
    .button-container{
        visibility: visible;
    }
    .inhead1{
      visibility: visible;
    }
    .head2{
      visibility:visible ;
    }
    .head1{
      padding: 0;
      font-size: 32px;
      /* background-color:#6D5D6E; */
    }

}
  .projectdiv1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 830px;
    height: 40%;
    margin: auto;
    justify-content: space-between;
    
  }

  .projectdiv2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 830px;
    height: 40%;
    margin: auto;
    justify-content: space-between;
    
  }

  .projectBody marquee{
    color:rgb(236, 102, 102);
  }

  .prj1{
    background-image: url("../webp imgs/dbms1.webp");

  }

  .prj1:hover{
    background-image: url("../webp imgs/dbms2.webp");

  }

  .prj2{
    background-image: url('../webp imgs/mes1.webp');
    
  }

  .prj2:hover{
    background-image: url('../webp imgs/mes2.webp');
    
  }

  .prj3{
    background-image: url('../webp imgs/cg1.webp');
   
  }

  .prj3:hover{
    background-image: url('../webp imgs/cg2.webp');
   
  }

  .prj4{
    background-image: url('../webp imgs/mad1.webp');
  }

  .prj4:hover{
    background-image: url('../webp imgs/mad2.webp');
  }

  
  .head1{
    font-size: 38px;
    font-weight: bold;
    color: white;
    padding: 25px;
    background-color: #6D5D6E;
    background-color: #4f4557;

    border-radius: 5px;
    /* font-style: italic; */

  }

  .xe{
    color:lightcoral;
  }
  
  .inhead1{
    color:rgb(238, 141, 141);
    font-size: 25px;
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    /* font-style: italic; */
  }

  .head2{
    text-align: justify;
    visibility: hidden;
    max-height: 60%;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #6D5D6E;
    padding: 5px;
  }

  .card-content {
    padding: 10px;
    
  }

  

 

  